<!doctype html>
<html lang="en">
<head>
    <%- include('./Layout/Meta.ejs'); %>
    <%- include('./Layout/Links.ejs'); %>
    <link rel="stylesheet" href="/CSS/Auth.css"/>

    <title>Test</title>
</head>
<body>
<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6 login-container">
            <div class="login-body border-0 bg-transparent h-100">
                <form action="/Auth/Unlock" method="post">
                    <p class="text-center mb-3 login-title">
                        Account Locked
                    </p>
                    <p class="text-muted text-center mb-5 login-subtitle">
                        Please Enter your Password To Continue.
                    </p>

                    <div class="d-flex justify-content-center my-3">
                        <img src="https://via.placeholder.com/150x150.png" class="rounded-circle img-fluid">
                    </div>

                    <div class="d-grid gap-4">
                        <div class="form-floating">
                            <input class="form-control" name="UserID" id="UserID" type="hidden" placeholder="UserID" readonly value="<%= UserID %>">
                            <label for="UserID">UserID</label>
                        </div>
                        <div class="input-group">
                            <div class="form-floating">
                                <input class="form-control" name="Password" id="Password" type="password" placeholder="Password" required="">
                                <label for="Password">Password</label>
                            </div>
                            <button type="button" class="btn btn-light" onclick="TogglePasswordVisibility();"><i class="fa-solid fa-eye"></i></button>
                        </div>
                        <div class="mt-5 d-grid gap-2">
                            <button type="submit" class="btn btn-primary text-center">Login</button>
                            <p class="text-center">
                                <small class="text-muted text-center">
                                    Want To Logout? <a href="/Auth/Logout">Logout</a>.
                                </small>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block p-0">
            <div class="h-100 login-bg-image"></div>
        </div>
    </div>
</div>

<%- include('./Layout/Scripts.ejs'); %>
<script src="/JS/Auth.js"></script>
</body>
</html>